<div class="container-fluid" >
  <div class="row">
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="img/slideHome/hotel-1.jpg" alt="...">
      <div class="carousel-caption">
        <h1>Corinthia Hotel Budapest</h1>
      </div>
    </div>
  </div>

</div>
</div>
</div>
<div class="container-fluid" >
  <div class="row" style="margin-top:30px; margin-bottom:350px;">
    <h3>Hotel 5 étoiles de charmes (et oui nous sommes à Budapest !) </h3>
<div class="col-lg-4" style="padding:10px;">
<img class="img-responsive" src="img/hotel/corinthiahotelbudapest/1.jpg">
<p>rooms : </p>

</div>
<div class="col-lg-4">
  <img class="img-responsive" src="img/hotel/corinthiahotelbudapest/2.jpg">
</div>
<div class="col-lg-4">
  <img class="img-responsive" src="img/hotel/corinthiahotelbudapest/3.jpg">
</div>
</div>
</div>
<!-- fin carroussel -->
